/**
 * Versión 1.0.0
 */
@charset "utf-8";
/**
 * Fonts
 */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');


:root{
    --color-background: #121927;
    --color-text-white: #fafafa;
    --color-primary: #ffe600;
    --color-text: #314770;
}

/**
 * Mobile
 */
 

/** General */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: var(--color-text-white);
    font-family: 600;
}

.contenedor{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/** Body */
body {
    font-size: 16px;
    background-color:var(--color-background);
    color: var(--color-text-white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    padding: 1rem 0;
    text-align: center;
}

h1{
    font-size: 1.5rem;
    text-transform: capitalize;
}

h2{
    font-size: 1.4rem;
    margin-bottom: 0.25rem;
}

main{
    flex-grow:1;
}

.administracion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

button{
    padding: 0.2rem 0.4rem;
    font-size: 1rem;
    background-color: var(--color-text);
    color: var(--color-text-white);
    border-radius: 5px;
    border: 2px solid transparent;
    transition: color .3s ease, background .3s ease;
}

button:hover,button:focus{
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--color-text-white);
    color: var(--color-text);
}

.busqueda{
    display: flex;
    flex-wrap: nowrap;
}

.busqueda input{
    font-size: 0.9rem;
    padding: 0.2rem 0.4rem;
    border-radius: 5px 0 0 5px;
    border: 2px solid transparent;
    transition: color .3s ease, background .3s ease;
}

.busqueda button{
    border-radius:  0 5px 5px 0;
}

.informacion{
    padding: 1rem 0;
}

.disco-container{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.item-info{
    list-style: none;
    font-size: 0.9rem !important;
    padding: 0.25rem 0;
}

.duracion-larga{
    color: var(--color-primary);
}

.disco h3{
    font-size: 1.3rem;
    text-align: center;
    padding: 1rem 0;
}

.disco img{
    border-radius: 0.5rem;
    width: 300px;
    height: 300px;
}

.lista-canciones{
    width: 100%;
}

.item-cancion{
    list-style: none;
    padding: 1rem 0;
    border-top: 1px solid #fafafa90;
}

footer{
    justify-items:end;
}

footer ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

footer ul li{
    list-style: none;
}

footer .contenedor{
    padding: 1rem 0;
    border-top: 1px solid var(--color-text-white);
}

/* ----- ----- Mobile ----- ----- */
@media (max-width: 600px) {
    .contenedor{
        max-width: 400px;
    }
    h2{
        text-align: center;
    }
    .carga{
        margin: auto;
    }
    .busqueda, .busqueda input{
        width: 100%;
    }    
    .disco-container{
        flex-direction: column;
    }
    .disco-container img{
        width: 100%;
        height: auto;
    }
    footer ul{
        padding-top: 1rem;
        flex-direction: column;
    }
}
